# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment variables & secrets
.env
.env.*

# Local Database & SQLite files
data/
*.db
*.sqlite3

# Virtual environment
venv/
.venv/
env/

# IDE files
.vscode/
.idea/